In [1]:
import pandas as pd

In [2]:
voting_df = pd.read_csv('4_voting_data.csv')

In [3]:
voting_df

,adv_id,offer_id,app_id,state,comment,ip,country_code,created_at
0,5ba99349-0e56-4a15-96d8-6708f21ae548,254610,rupiyo,UP,NaN,152.58.197.244,IN,2024-10-17 08:38:41.178855+00:00
1,d016c006-f927-48bc-987d-40a2f3f4648b,258019,rupiyo,UP,NaN,152.59.191.187,IN,2024-10-20 03:50:17.578827+00:00
2,d016c006-f927-48bc-987d-40a2f3f4648b,258634,rupiyo,UP,NaN,152.58.129.31,IN,2024-10-21 15:52:12.762049+00:00
3,ed359404-3d8a-4f3e-9d4e-38e6ef575254,258019,rupiyo,UP,NaN,152.59.191.187,IN,2024-10-20 03:50:17.578827+00:00
4,ed359404-3d8a-4f3e-9d4e-38e6ef575254,258634,rupiyo,UP,NaN,152.58.129.31,IN,2024-10-21 15:52:12.762049+00:00
...,...,...,...,...,...,...,...,...
1048570,aa56ed51-6bde-4b4d-8e5d-65fe042384e8,258592,offerwall_1072,UP,NaN,59.152.120.116,IN,2024-10-19 15:27:34.559927+00:00
1048571,aa56ed51-6bde-4b4d-8e5d-65fe042384e8,258685,offerwall_1072,UP,NaN,152.59.108.155,IN,2024-10-19 16:11:17.710819+00:00
1048572,aa56ed51-6bde-4b4d-8e5d-65fe042384e8,259853,offerwall_1072,UP,NaN,103.242.189.33,IN,2024-10-21 06:01:57.872703+00:00
1048573,aa56ed51-6bde-4b4d-8e5d-65fe042384e8,257571,offerwall_1072,UP,NaN,103.242.189.33,IN,2024-10-21 06:02:14.090990+00:00
1048574,aa56ed51-6bde-4b4d-8e5d-65fe042384e8,252237,offerwall_1072,UP,NaN,47.11.192.151,IN,2024-10-21 08:33:21.359732+00:00

In [4]:
voting_df['created_at']=pd.to_datetime(voting_df['created_at'])

In [5]:
voting_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 8 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   adv_id        1048504 non-null  object
 1   offer_id      1048575 non-null  int64
 2   app_id        1048575 non-null  object
 3   state         1048575 non-null  object
 4   comment       46254 non-null    object
 5   ip            1048575 non-null  object
 6   country_code  1048575 non-null  object
 7   created_at    1048575 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), int64(1), object(6)
memory usage: 64.0+ MB

# 1. # Overall vote distribution

In [8]:
vote_counts = voting_df['state'].value_counts()
print("\nVote Distribution:\n", vote_counts)

Vote Distribution:
 UP      1002321
DOWN      46254
Name: state, dtype: int64

# 2. Top 10 offers with most UP votes

In [9]:
top_up_offers = voting_df[voting_df['state'] == 'UP']['offer_id'].value_counts().head(10)
print("\nTop 10 Offers by UP Votes:\n", top_up_offers)

Top 10 Offers by UP Votes:
 254073    45538
257862    33370
257395    28886
257392    18866
257393    18685
257394    16575
258242    15649
257219    15417
258685    15269
17817     15133
Name: offer_id, dtype: int64

# 3. Top 10 offers with most DOWN votes

In [10]:
top_down_offers = voting_df[voting_df['state'] == 'DOWN']['offer_id'].value_counts().head(10)
print("\nTop 10 Offers by DOWN Votes:\n", top_down_offers)

Top 10 Offers by DOWN Votes:
 213491    5175
257219    2993
253427    1448
256689    1425
257863    1227
257906    1134
253506    1081
256688     968
254610     869
257395     820
Name: offer_id, dtype: int64

# 4. Daily vote trend

In [12]:
daily_votes = voting_df.groupby(voting_df['created_at'].dt.date)['state'].value_counts().unstack(fill_value=0)
print("\nDaily VOtes:\n",daily_votes)

Daily VOtes:
 state        DOWN      UP
created_at
2024-10-16   7194  200101
2024-10-17  12297  240832
2024-10-18   7320   94304
2024-10-19   4670  119656
2024-10-20   4365  106344
2024-10-21   3261   66352
2024-10-22   3819   78937
2024-10-23   3328   95795

# 5. Upvote ratio per offer

In [13]:
offer_votes = voting_df.groupby('offer_id')['state'].value_counts().unstack(fill_value=0)
offer_votes['upvote_ratio'] = offer_votes['UP'] / (offer_votes['UP'] + offer_votes['DOWN'])
top_quality_offers = offer_votes.sort_values(by='upvote_ratio', ascending=False).head(10)
low_quality_offers = offer_votes.sort_values(by='upvote_ratio', ascending=True).head(10)

In [14]:
print("\nTop 10 Offers by Upvote Ratio:\n", top_quality_offers['upvote_ratio'].round(2))
print("\nBottom 10 Offers by Upvote Ratio:\n", low_quality_offers['upvote_ratio'].round(2))

Top 10 Offers by Upvote Ratio:
 offer_id
5272      1.0
258424    1.0
231627    1.0
231754    1.0
232491    1.0
233554    1.0
258359    1.0
258292    1.0
233617    1.0
233618    1.0
Name: upvote_ratio, dtype: float64

Bottom 10 Offers by Upvote Ratio:
 offer_id
225439    0.0
259245    0.0
259236    0.0
257816    0.0
250399    0.0
250401    0.0
221340    0.0
162737    0.0
259249    0.0
258525    0.0
Name: upvote_ratio, dtype: float64

# 7. Comment engagement rate

In [15]:
total_votes = len(voting_df)
votes_with_comments = voting_df['comment'].notna().sum()
comment_engagement_rate = (votes_with_comments / total_votes) * 100


print(f"\nVotes with Comments: {votes_with_comments} ({round(comment_engagement_rate, 2)}%)")

Votes with Comments: 46254 (4.41%)

# 8. Users with multiple votes

In [16]:
user_vote_counts = voting_df['adv_id'].value_counts()
users_with_multiple_votes = (user_vote_counts > 1).sum()

print("\nUsers with Multiple Votes:", users_with_multiple_votes)

Users with Multiple Votes: 100452